<div id='forums_container'>
<!-- 	Title overwritten temporarily, to be amended once multiple versions are supported.
 -->	
  <h1 id='forums_title'>Versions</h1>

  <%= render @categories %>
</div>

<br>
<footer id='admin_link'>
<!-- Link back to Admin controls commented out as it is not required for our business case.
 -->
  <!--<% if forem_admin? %>
    <%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
  <% end %> -->
</footer>
